.intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.intro-img {
    grid-column: 2;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}

.intro-info-text {
    grid-column: 1;
    grid-row: 2;
	align-self: center;

	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.8em;
	text-align: left;
}

.intro-btns {
    grid-column: 1;
    grid-row: 3;
	align-self: end;

	display: flex;
	gap: 10px;
}

.slider-posts {
	cursor: grab;
}

.more-posts {
	align-self: center;
}

.slider-posts-header {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    color: var(--title);
    margin-bottom: -40px;
}