form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
	gap: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	display: flex;
	align-items: end;
	/* gap: 5px; */
}

input, textarea, select {
	width: 100%;
}

label {
	width: 100%;
}