:root {
	--dark-gray: #212121;
	
	--hover-link-color: rgba(255,255,255,0.5);

	--gray: #666;

	--title: #323232;

	--logo: #e11f1f;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #fff;
	transition: 0.1s ease-in-out;
}
a:hover {
	color: var(--hover-link-color);
}

p {
	color: var(--gray);
}

button:active, 
button:focus {
  	background: transparent !important;
}
a:active, 
a:focus {
 	background: transparent !important;
}

button {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
a {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.btn {
	padding: 10px 20px;
	border: 1px solid var(--dark-gray);
	color: var(--dark-gray);
	cursor: pointer;
}
.btn:hover {
	color: var(--gray);
	border: 1px solid var(--gray);
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.header, .footer {
	background-color: var(--dark-gray);
	width: 100%;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	position: relative;
}

.nav {
	display: flex;
	gap: 50px;

	transition: 0.3s;
}

.nav-list {
	display: flex;
	gap: 50px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-list a {
	text-decoration: none;
	color: #fff;
}
.nav-list a:hover {
	color: var(--gray);
}

.logo {
	padding: 20px 0 20px;
}

.logo-image {
	width: 100px;
}

.vk {
	display: flex;
	align-items: center;
	gap: 5px;
}

.vk img {
	width: 20px;
}


.content {
	padding: 40px 0 40px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}


/* INTRODACTION	 */

.intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}

.intro-img {
    grid-column: 2;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}

.intro-info-text {
    grid-column: 1;
    grid-row: 2;
	align-self: center;

	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.8em;
	text-align: left;
}

.intro-btns {
    grid-column: 1;
    grid-row: 3;
	align-self: end;

	display: flex;
	gap: 10px;
}

.slider-posts {
	cursor: grab;
}

.burger-btn {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 100;
}

.burger-line {
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
	margin: 5px 0;
	transition: 0.3s;
	border-radius: 10px;
}

.burger-btn.active .burger-line:nth-child(1) {
	transform: translateY(8px) rotate(45deg);
}

.burger-btn.active .burger-line:nth-child(2) {
	opacity: 0;
}

.burger-btn.active .burger-line:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}

.footer-info {
	font-size: 1.2em;
	letter-spacing: 5px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.footer-info a {
	color: var(--logo);
	font-weight: 800;
	text-shadow: 0 0 20px var(--logo), 2px 2px 2px rgba(206,0,0,0);

}

.more-posts {
	align-self: center;
}