:root {
	--dark-gray: #212121;
	
	--hover-link-color: rgba(255,255,255,0.5);

	--gray: #666;

	--title: #323232;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* input, textarea {
    all: unset;
    font-family: "Roboto", sans-serif;
} */

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #fff;
	transition: 0.1s ease-in-out;
}
a:hover {
	color: var(--hover-link-color);
}

p {
	color: var(--gray);
}


.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.header, .footer {
	background-color: var(--dark-gray);
	width: 100%;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	gap: 50px;
}

.logo {
	padding: 20px 0 20px;
}

.logo-image {
	width: 100px;
}

.vk {
	display: flex;
	align-items: center;
	gap: 5px;
}

.vk img {
	width: 20px;
}


.content {
	padding: 40px 0 40px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}

.intro {
	/* display: flex;
	align-items: center; */
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.intro-info {
	display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* Определяем три строки */
    height: 100%; /* Или другая нужная высота */
}

.intro-info-text {
	align-self: center;
	grid-row: 2;
	
}


.btns {
	align-self: end;
	grid-row: 3;
	display: flex;
	gap: 10px;
}

.btns-category {
	padding: 10px 20px;
	border: 1px solid var(--dark-gray);
	color: var(--dark-gray);
}
.btns-category:hover {
	color: var(--gray);
	border: 1px solid var(--gray);
}

.intro-info-text {
	/* width: 55%; */
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.8em;
	text-align: left;
}

.intro .some-img {
	width: 400px;
	height: 100%;
	background-color: rgb(202, 202, 202);
}

.posts {
	cursor: grab;
}

.post {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 33.33%;
	width: 100%;
	user-select: none;

	margin: 10px;

	overflow-wrap: break-word;
}

.post-title {
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.3em;
	color: var(--title);
	cursor: pointer;
}
.post-title:hover {
	color: var(--title);
}

.post-description {
	margin-top: 10px;
	font-size: 0.9em;
	line-height: 1.5em;

}

.post-img {
	height: 200px;
	width: 100%;
}

.post-info {
	padding: 15px;
}