{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>УЛИЦЫ ГОРОДА КЕМЕРОВО</title>

	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<div class="header">
		<div class="logo">

		</div>
		<div class="nav">

		</div>
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

	<div class="footer">
		<div class="contacts">

		</div>

		<div class="logo">

		</div>
	</div>
</body>
</html>