{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ project_name }}</title>

	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/adaptive_base.css' %}">

	<!-- fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

	<!-- additional links -->
	{% block head %}
	{% endblock %}
</head>
<body style="height: 100%;">
	{% if scroll %}
	<div id="mainContent" class="scroll">
	{% else %}
	<div id="mainContent">
	{% endif %}
		<div class="header">
			<div class="container">
				<div class="logo">
					<img src="{% static 'images/logo.png' %}" alt="logo" class="logo-image">
				</div>
				<button class="burger-btn" aria-label="Открыть меню">
					<span class="burger-line"></span>
					<span class="burger-line"></span>
					<span class="burger-line"></span>
				</button>
				<div class="nav">
					<div class="nav-list">
						<a href="{% url 'index' %}">Главная</a>
						<a href="{% url 'about' %}">О проекте</a>
						<a href="{% url 'admin:index' %}">Админка</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="content">
				{% block content %}

				{% endblock %}
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="contacts">
					<div class="vk">
						<img src="{% static 'images/VK.svg' %}" alt="vk logo">
						<a target="_blank" href="https://vk.com/mediaclubipo">mediaclubipo</a>
					</div>
				</div>
				

				<div class="footer-info">для проекта <a href="https://kuzstu.ru/" target="_blank">КузГТУ</a></div>
		
				<div class="logo">
					<img src="{% static 'images/logo.png' %}" alt="logo" class="logo-image">
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	{% block js %}
	{% endblock %}
	<script src="{% static 'js/smooth_scroll.js' %}"></script>
	<script src="{% static 'js/burger-menu.js' %}"></script>
</body>
</html>

